
/* -----------------
Variable
------------------- */

:root {
	--black: rgba(25, 28, 39, 100);
	--orange: #D94D1A;
	--red: rgb(253, 241, 241);
	--white: rgba(250, 250, 250, 100);
	--grey: rgb(240, 240, 240);
	--darkGrey: rgb(95, 95, 95);
  }

/* --------------------------------
UNIVERSAL
-------------------------------- */
* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--white)
}

.pageWrap {
	margin: 0 auto;
	width: 80%;
	height: auto;
}

/* --------------------------------
HEADER
-------------------------------- */

header {
	height: 300px;
	background-color:var(--white);
}

img {
	display: block;	
	margin: 30px auto 10px auto;
	width: 150px;
}

nav {
	border-top: var(--orange) 1px solid;
	border-bottom: var(--orange) 1px solid;
}

ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

li a {
	height: 40px;
	font-size: 8px;
	margin: 0px 10px;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
}

/* --------------------------------
MAIN - INDEX
-------------------------------- */

main {
	height: 800px;
	background-color: var(--white);
}



/* --------------------------------
MAIN - OPSKRIFT
-------------------------------- */
.opskriftMain {
	height: 700px;
}

.opskriftMain img {
	width: 100%;
	height: 400px;
}

.opskriftBøger {
	display: flex;

}

.opskriftBog {
	width: 40%;
	height: auto;
}

/* --------------------------------
FOOTER
-------------------------------- */

footer {
	text-align: center;
	font-size: 8px;
	color: var(--darkGrey);
}

footer h3 {font-weight: normal;}

.footerKontakt {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--red);
	height: 130px;
}

.footerKontaktIkoner {
	display: flex;
	justify-content: center;
}

.footerKontaktIkoner i {
	margin: 0px 20px;
}

.footerCopyright {
	height: 20px;
	margin: 20px;
}