
* {
	box-sizing: border-box;
}
/* -----------------
3. Variable
------------------- */
:root {
	--ff-os: "Open Sans", sans-serif;
	--ff-pf: "Playfair Display", serif;
  
	--black: rgba(25, 28, 39, 100);
	--orange: #D94D1A;
	--red: rgb(231, 39, 5);
	--white: rgba(250, 250, 250, 100);
	--grey: rgb(240, 240, 240);
  }

/* --------------------------------
UNIVERSAL
-------------------------------- */

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--grey)
}

.pageWrap {
	margin: 0 auto;
	width: 80%;
	height: auto;
}

/* --------------------------------
HEADER
-------------------------------- */

header {
	height: 200px;
	background-color:var(--white);
}

img {
	width: 200px;
}

nav {
	border-top: var(--orange) 1px solid;
	border-bottom: var(--orange) 1px solid;
}

ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

li a {
	height: 40px;
	font-size: 8px;
	margin: 0px 10px;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
}

/* --------------------------------
MAIN - INDEX
-------------------------------- */

main {
	height: 800px;
	background-color: var(--white);
}

/* --------------------------------
FOOTER
-------------------------------- */

footer {
	text-align: center;
	height: 250px;
	width: 100%;
}

.footerKontakt {
	
	height: 200px;
	background-color: var(--white);
}

.footerKontaktIkoner {
	display: flex;
	justify-content: center;
}

.footerKontaktIkoner i {
	margin: 0px 20px;
}

.footerCopyright {
	height: 50px;
}