
/* -----------------
Variable
------------------- */

:root {
	--black: rgba(25, 28, 39, 100);
	--orange: #D2691E;
	--brown: #B04C35;
	--red: #FFFAFA;
	--white: #FFFFFF;
	--darkGrey: #707070;
  }

/* --------------------------------
UNIVERSAL
-------------------------------- */
* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	width: 100vw;
	line-height: 1.5rem;
	background-color: var(--white)
}

.pageWrap {
	margin: 0 auto;
	width: 70%;
	height: auto;
}

hr {
	border: 1px solid var(--orange)
}

h1 {
	text-align: center;
	font-weight: normal;
	color: var(--darkGrey);
}

/* --------------------------------
HEADER
-------------------------------- */

header {
	height: 110px;
	background-color:var(--white);
}

header img {
	display: block;	
	margin: 40px auto 20px auto;
	width: 150px;
}

nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: var(--orange) 1px solid;
	border-bottom: var(--orange) 1px solid;
}

nav li a {
	height: 30px;
	font-size: 10px;
	margin: 0px 10px;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
}

nav li a:hover {
	color: var(--orange);
}

/* --------------------------------
MAIN - INDEX
-------------------------------- */

.mainIndex {
	background-color: var(--white);
}

.mainImgWrap {
	display: flex;
	justify-content: space-around;
	margin: 3rem 0rem;
}

.mainImg {
	display: flex;
	align-items: flex-end;
	text-align: center;
	width: 25%;
	height: 200px;
	transition: all .2s ease-out;
	background-image: url(/assets/images/Bagt\ brushetta_low.jpg);
}

.mainImg:hover {
	box-shadow: 5px 5px 10px var(--darkGrey);
	transform: scale(1.1);
}

.imgTxt {
	height: 50px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.521);
	text-transform: uppercase;
}


.mainGrid {
	margin: 3rem 0rem;
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

}

.gridItem {
	height: 250px;
	display: flex;
	align-items: flex-end;
	text-align: center;
	transition: all .2s ease-out;
	background-image: url(/assets/images/Bagt\ brushetta_low.jpg);
}

.gridItem:hover {
	box-shadow: 5px 5px 10px var(--darkGrey);
	transform: scale(1.1);
}

/* --------------------------------
MAIN - OPSKRIFTSINDEX
-------------------------------- */

.opskriftGrid {
	margin: 3rem 0rem;
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

}

.opskriftGridItem {
	height: 450px;
	display: flex;
	flex-direction: column;
	transition: all .2s ease-out;
}

.opskriftGridItem:hover {
	box-shadow: 5px 5px 10px var(--darkGrey);
	transform: scale(1.1);
}

.opskriftGridItem p {
	font-size: 8px;
	line-height: 1rem;
}

.opskriftGridItem h2 {
	padding: 0;
	font-weight: normal;
}

.opskriftImg {
	width: 100%;
	height: 50%;
	background-image: url(/assets/images/Bagt\ brushetta_low.jpg);
}

/* --------------------------------
MAIN - OPSKRIFT
-------------------------------- */
.opskriftMain {
	height: 500px;
	
}

.opskriftMain img {
	margin-top: 2rem;
	display: block;
	width: 100%;
	height: 400px;
}



.opskrift {
	background-color: var(--red);
	padding: 2rem;
	margin-bottom: 2rem;
}

.opskrift h2, h3 {
	font-weight: normal;
	padding: 0;
}



.opskriftTags {
	color: var(--darkGrey);
	display: flex;
	justify-content: space-between;
	border-top: 1px var(--orange) solid;
	border-bottom: 1px var(--orange) solid;
}


.opskriftFremgangsmåde {
	display: flex;
}

.opskriftFremgangsmådeBox {
	width: 50%;
}

.opskriftFremgangsmåde ul {
	margin: 0;
	padding: 0rem 1rem;
	list-style-type: circle;
}



.opskriftKommentar {
	display: flex;
	margin-bottom: 2rem;
}
.opskriftKommentar img {
	width: 50%;
}

.opskriftKommentar p {
	padding: 0rem 1rem;
}



.opskriftBøger {
	
	margin: 2rem 0rem;
	justify-content: space-between;
	display: flex;

}

.opskriftBog {
	display: flex;
	background-color: var(--red);
	width: 48%;
	height: auto;
}

.opskriftBog button {
	background-color: var(--brown);
	color: var(--white);
	padding: 8px 16px;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
}

.opskriftBog button:hover {
	background-color: var(--black);
	cursor: pointer;
}

.opskriftBogBox {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.opskriftBogBox img {
	margin: 0;
	width: 100%;
	display: block;
}





.omForfatter {
	
	margin: 2rem 0rem;
	background-color: var(--red);
	display: flex;
}

.omForfatterBox {
	width: 50%;
}

.omForfatterBox img {
	margin: 0;
	width: 100%;
}

.omForfatter p, h2 {
	margin: 0;
	padding: 1rem;
}

.omForfatter a {
	color: var(--orange);
}

/* --------------------------------
FOOTER
-------------------------------- */

footer {
	text-align: center;
	font-size: 8px;
	color: var(--darkGrey);
}

footer h3 {font-weight: normal;}

.footerKontakt {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--red);
	height: 130px;
}

.footerKontaktIkoner {
	display: flex;
	justify-content: center;
}

.footerKontaktIkoner i {
	margin: 0px 20px;
}

.footerCopyright {
	height: 20px;
	margin: 20px;
}